/* .footer / input.button */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* .menu_bloc h2 / .form_bloc h1 */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* .menu_bloc p / label.login / label.password */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --main-color: #FFFFFF; /* Blanc */
    --second-color: #FF0000; /* Rouge */
    --third-color: #AD00FF; /* Violet */
    --fourth-color: #E8E8E8; /* Gris clair */
    --fifth-color: #868686; /* Gris foncé */
}

/************************** AppWebPage **************************/
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    user-select: none;
    pointer-events: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url(../img/fond.jpg);
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.header__img {
    height: 90%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 25px;
    border-radius: 20px;
    background-color: var(--main-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--third-color);
    color: var(--main-color);
}

/*********************** Menu (index.php) ***********************/
.menu_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu_bloc h2 {
    font-family: 'Dela Gothic One', cursive;
    font-size: xx-large;
    letter-spacing: 2px;
}

.ligne {
    width: 70px;
    border: 3px solid var(--third-color);
    border-radius: 10px;
}

.menu_bloc p {
    margin-top: 10px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.menu_bloc a {
    margin-top: 15px;
    font-size: 70px;
    color: black;
}

/********************* Connexion (form.php) *********************/
.form_bloc {
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--fourth-color);
}

.form_bloc h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: xx-large;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.form_bloc p {
    font-family: 'Nunito', sans-serif;
}

label.login, label.password {
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

input.login, input.password {
    width: calc(100% - 6px);
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 5px;
    border: 1px solid var(--fifth-color);
    border-radius: 5px;
}

input.button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--fifth-color);
    font-family: 'Poppins', sans-serif;
}


.country-selector {
    display: flex;
    gap: 0.5em;
}
